section.story
	.container
		+blogBox("Our Stories","Latest blog")
		ul.story-list
			+stotyItem
			+stotyItem("../images/img-blog2.png")
			+stotyItem("../images/img-blog3.png")

section.map
	.container
		.map-content
			img.map-icon(src="../images/img-map-icon.png")
			h2.map-heading Open map
